@import '../assets/variables.css';

body {
  margin: 0;
  padding: 0
}

#root {
  display: inline-block;
  padding: 0;
  margin: 0;
}

:--app {
  min-width: 400px;
  background-color: var(--mainBackground);
  color: var(--textColor);
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: var(--mainTextFont);
  padding: 10px;
}

:--input {
  width: 100%;
  outline: none;
  border: 1px solid var(--grayColor);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 36px;
  height: 36px;
  padding: 0 10px;
  background: #fff;
}

:--button {
  text-align: center;
  color: #fff;
  background: var(--blueColor);
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  border: none;
  display: inline-block;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.9;
}

:--button:hover {
  cursor: pointer;
  opacity: 1;
}
