@import '../../assets/variables.css';

@custom-selector :--creation div.creation;
@custom-selector :--label div.creation span.label;

:--label {
  display: block;
  margin: 5px;
}

:--creation :--input {
  margin: 0 10px 10px 0;
  width: 300px;
}
