:root {
  --mainBackground: #f8f6f2;
  --textColor: #545454;
  --blueColor: #3E91CF;
  --grayColor: #d3e3f3;
  --mainTextFont: 15px;
}

@custom-selector :--button button, .button;
@custom-selector :--app div.application;
@custom-selector :--input input;
